<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teledeus Authorize</title>
    <style>
        body {
            /* font-family: Arial, Helvetica, sans-serif; */
            width: 100vw;
            height: 100vh;
            font-family: calibri, tahoma, "ms outlook";
        }

        .container {
            display: block;
            /* width: 1024px; */
            /* max-width: 100%; */
            border: 1px solid rgba(225, 220, 220, 0.585);
            margin: auto;
            text-align: center;
            padding: 2rem;
        }
    </style>
</head>

<body>

    <div class="container">
        <h5>Teledeus Stockon</h5>

        <h2>
            An Authorization Error Occured
            <br>
            <small style="font-weight: 100; font-size: 15px;">
                The app that lead you here is witnessing a technical error
                <br>
                You can contact app owner to fix error
            </small>
        </h2>

        <a href="/" style="font-weight: 100; font-size: 15px;">Go to homepage</a>

    </div>
</body>

</html>